body {
  background: #292f2f;
  font: normal bold 15px "Roboto Mono", monospace; }

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#calculator {
  width: 50px;
  height: 50px;
  background: white; }
